/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
	padding: 0;
}

.instructions {
	border: solid lightgray;
	padding: 5px;
}

.container {
	margin: 0 auto;
	width: 1170px;
	align-content: center;
}

.clear {
	clear: both;
	background-color: #87C9F2;
	padding: 5px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/********************************************
* Your CSS rules go down here
********************************************/

header {
	width: 100%;
	background-color: #83D2F2;
	margin: 0;
	padding: 0;
}

.pull-left {
	border: 5px solid lightgray;
	float: left;
	margin: 0 5px;
}

.pull-right {
	border: 5px solid white;
	float: right;
	margin: 10px;
}

footer {
	width: 100%;
	background-color: black;
	color: lightgray;
	margin: 0;
	padding: 0;
}

div {
	padding: 0;
	margin: 20px 0;
}
